section.faq#faq
  .faq__container.container
    h2.title-section.faq__title Часто задаваемые вопросы

    .accordion
      ul.accordion__list

        li.accordion__item
          p.accordion__title Как всё это проходит?
            include ../../img/icons/accordionPlus.svg
          .accordion__content
            p Вы выбираете услугу, день, время подъёма и заполняете форму заявки или пишете напрямую в мессенджер Telegram или WhatsApp. Далее, мы присылаем вам фото актуальных крыш. Вы выбираете понравившийся вариант. Бронирование даты и времени происходит по предоплате 30% от общей стоимости. После предоплаты мы высылаем вам место встречи. В день подъёма мы встречаемся, а затем сопровождаем на крышу. Стандартное время нахождения на крыше по формату "подъём", "экскурсия" и "фотосессия" составляет 1 час (если необходимо больше времени, сообщите нам заранее), по формату "свидание" - 1:20 - 1:30 мин. По истечении этого времени (или раньше) мы открываем спуск.

        li.accordion__item
          p.accordion__title Когда можно подняться на крышу?
            include ../../img/icons/accordionPlus.svg
          .accordion__content
            p Организация подъёмов, экскурсий, съёмок, свиданий на крыше возможна в любой день и время весной, летом, осенью и даже зимой. Мы работаем 24 часа 7 дней в неделю.

        li.accordion__item
          p.accordion__title Мы будем одни на крыше?
            include ../../img/icons/accordionPlus.svg
          .accordion__content
            p В рамках подъёма, экскурсии или фотосессии - всё будет зависеть от выбранной вами крыши и времени подъёма. Но скорее всего помимо вас на крыше будут еще и другие клиенты. В рамках свидания - вы будете на крыше наедине.

        li.accordion__item
          p.accordion__title Что делать, если по прогнозу обещают дождь?
            include ../../img/icons/accordionPlus.svg
          .accordion__content
            p Если по прогнозу на время вашего подъёма ожидается дождь, то при желании, подъём можно будет перенести на любой другой удобный день. Перенос необходимо сделать не позднее чем за 24 часа до подъёма.

        li.accordion__item
          p.accordion__title Какую обувь лучше одеть, чтобы было комфортно?
            include ../../img/icons/accordionPlus.svg
          .accordion__content
            p Выход на крышу в обуви с каблуками запрещён! Для вашей безопасности и удобства лучше одеть обувь с плоской подошвой. Если обувь с каблуками нужна для съёмки, то ее можно взять с собой и одеть на месте, но основная обувь должна быть без каблуков.

        li.accordion__item
          p.accordion__title Есть ли на крыше уборная?
            include ../../img/icons/accordionPlus.svg
          .accordion__content
            p Нет, на крышах уборной нет, поэтому лучше сделать все свои дела за ранее.

        li.accordion__item
          p.accordion__title У вас есть подарочные сертификаты? Хочу сделать подарок друзьям!
            include ../../img/icons/accordionPlus.svg
          .accordion__content
            p Да, есть. Стоимость сертификата такая же, как и стоимость самой услуги. Срок действия сертификата 1 год. Приобрести сертификат!
