form.form.form--popup(action="" method="POST" aria-hidden="true")
  .form__container.container
    button.form__close.close-btn

    h3.form__title Ваша запись на экскурсию
    h4.form__excursion-name

    +inputName
    +inputDate
    +inputFormat
    +inputCountPeople
    +inputTime
    +inputTel
    +inputEmail
    +inputText

    +FormAction
