.popup-excursion
  .popup-excursion__container

    button.popup-excursion__close.close-btn

    .popup-excursion__slider.swiper
      .swiper-wrapper
        .swiper-slide
          img(src="https://m3.netinfo.bg/media/images/48934/48934095/896-504-samota-myzh.jpg")
        .swiper-slide
          img(src="https://www.itfseafarers.org/sites/default/files/styles/node_main/public/node/issues/image/Abandoned-Seafarers.jpg?itok=GgG4nSC-")
        .swiper-slide
          img(src="https://static.tildacdn.com/tild3530-6233-4262-a266-323831663361/14_-min.JPG")

      .swiper-button-next
      .swiper-button-prev
      .swiper-pagination


    .popup-excursion__content
      h2.popup-excursion__title Групповая экскурсия по крышам
      span.popup-excursion__subtitle Центр города | Вид на все соборы | Интересный гид

      .popup-excursion__price
        span Стоимость: 800 ₽/чел.


      .popup-excursion__info
        p Экскурсия по системе крыш в центре города проходит в самом начале Невского проспекта рядом с Дворцовой площадью. После сбора группы гид расскажет о правилах безопасности на крыше. Далее группа поднимается на крышу.

        h3 Что такое система крыш?
        p В Петербурге очень плотная застройка, это дает возможность гулять по крышам как по улице, не спускаясь вниз. (Обращаем Ваше внимание, что Вы поднимаетесь 1 раз, и сам маршрут проходит по системе соединенных крыш). Группа передвигается по не скользящим покрытиям, которые дают возможность пройти по всему маршруту и увидеть основные достопримечательности исторического центра. Так как в наш маршрут включены самые высокие дома в округе, то и панорама будет открываться на все главные исторические доминанты.


        h3 Вы увидите:
        ul
          li Исаакиевский собор как на ладони;
          li Казанский и Владимирский соборы
          li Александровский сад
          li Здание генштаба
          li Александровскую колонну
          li Петропавловскую крепость
          li Спас-на-Крови
          li Адмиралтейство
          li Эрмитаж
          li Площадь Восстания

        h3 Продолжительность экскурсии: 1 час


      button.popup-excursion__button.open-form Записаться
