.reviews
  .reviews__container.container
    h2.title-section Отзывы

    .reviews__slider.swiper
      .swiper-wrapper

        .swiper-slide
          img(src="./assets/img/reviews/01.jpg")

        .swiper-slide
          img(src="./assets/img/reviews/02.jpeg")

        .swiper-slide
          img(src="./assets/img/reviews/03.jpeg")

        .swiper-slide
          img(src="./assets/img/reviews/04.jpeg")

        .swiper-slide
          img(src="./assets/img/reviews/05.jpeg")

        .swiper-slide
          img(src="./assets/img/reviews/06.jpeg")

        .swiper-slide
          img(src="./assets/img/reviews/07.jpeg")

        .swiper-slide
          img(src="./assets/img/reviews/08.jpeg")

        .swiper-slide
          img(src="./assets/img/reviews/09.jpeg")

        .swiper-slide
          img(src="./assets/img/reviews/10.jpeg")

        .swiper-slide
          img(src="./assets/img/reviews/11.jpeg")

        .swiper-slide
          img(src="./assets/img/reviews/12.jpeg")

        .swiper-slide
          img(src="./assets/img/reviews/13.jpeg")

        .swiper-slide
          img(src="./assets/img/reviews/14.jpg")

        .swiper-slide
          img(src="./assets/img/reviews/15.jpg")

        .swiper-slide
          img(src="./assets/img/reviews/16.jpg")

        .swiper-slide
          img(src="./assets/img/reviews/17.jpg")

