section.excursions
  .excursions__container.container
    ul.excursions__list
      li.excursions__card(style="background-image: url(./assets/img/roof-group/main.jpg)")
        .excursions__card-content
          h3.excursions__card-title Групповая экскурсия по крышам
          .excursions__card-footer
            span.excursions__card-price от 800 ₽
            button.excursions__card-button Побробнее
        include ../popup-excursion/popup-excursion


      li.excursions__card(style="background-image: url(./assets/img/roof-indi/main.jpg)")
        .excursions__card-content
          h3.excursions__card-title Индивидуальная экскурсия по крышам
          .excursions__card-footer
            span.excursions__card-price от 1300 ₽
            button.excursions__card-button Побробнее

      li.excursions__card(style="background-image: url(./assets/img/paradnye/main.jpg)")
        .excursions__card-content
          h3.excursions__card-title Экскурсия по парадным и дворам
          .excursions__card-footer
            span.excursions__card-price от 1000 ₽
            button.excursions__card-button Побробнее

      li.excursions__card(style="background-image: url(./assets/img/paradnye/main.jpg)")
        .excursions__card-content
          h3.excursions__card-title Парадные и дворы + крыши
          .excursions__card-footer
            span.excursions__card-price от 1700 ₽
            button.excursions__card-button Побробнее

      li.excursions__card(style="background-image: url(./assets/img/svidanie/main.jpeg)")
        .excursions__card-content
          h3.excursions__card-title Свидание на крыше
          .excursions__card-footer
            span.excursions__card-price от 4500 ₽
            button.excursions__card-button Побробнее






