header.header
  .header__container.container
    a.header__logo-link(href="index.html")
      img.header__logo-img(src="./assets/img/logo.png")

    nav.header__nav
      ul.header__nav-list

        li.header__nav-item
          a.header__nav-link(href="##") Экскурсии
        li.header__nav-item
          a.header__nav-link(href="##") Фото
        li.header__nav-item
          a.header__nav-link(href="##") Отзывы
        li.header__nav-item
          a.header__nav-link(href="##") Инфо

    .header__socail
        ul.header__social-list
          li.header__social-item
            a.header__social-link(href="##" title="whatsapp")
              include ../../img/icons/social/whatsapp.svg
          li.header__social-item
            a.header__social-link(href="##" title="telegram")
              include ../../img/icons/social/telegram.svg





