header.header
  .header__container.container
    a.logo(href="index.html")
      img(src="./assets/img/logo.png")

    .header__substrate
    nav.header__nav
      ul.header__nav-list

        li.header__nav-item
          a.header__nav-link(href="#excursions") Экскурсии
        li.header__nav-item
          a.header__nav-link(href="##") Фото
        li.header__nav-item
          a.header__nav-link(href="##") Отзывы
        li.header__nav-item
          a.header__nav-link(href="#faq") FAQ

      .header__social.header__social--mobile
        ul.header__social-list
          li.header__social-item
            a.header__social-link(href="##" title="whatsapp")
              include ../../img/icons/social/whatsapp.svg
          li.header__social-item
            a.header__social-link(href="##" title="telegram")
              include ../../img/icons/social/telegram.svg

    .header__social
        ul.header__social-list
          li.header__social-item
            a.header__social-link(href="##" title="whatsapp")
              include ../../img/icons/social/whatsapp.svg
          li.header__social-item
            a.header__social-link(href="##" title="telegram")
              include ../../img/icons/social/telegram.svg


    button.header__burger
      span.header__burger-line
      span.header__burger-line
      span.header__burger-line
      span.header__burger-line





