.gallery
  .gallery__container.container
    h2.title-section Фотогалерея

    .gallery__slider.swiper
      .swiper-wrapper

        .swiper-slide
          img(src="https://cdn1.ozone.ru/s3/multimedia-v/6042448243.jpg")

        .swiper-slide
          img(src="https://fikiwiki.com/uploads/posts/2022-02/1644855666_23-fikiwiki-com-p-kartinki-khd-kachestva-24.jpg")

        .swiper-slide
          img(src="https://nn.pannomd.ru/goods/or_5548.jpg")

        .swiper-slide
          img(src="https://nn.pannomd.ru/goods/6334.jpg")

        .swiper-slide
          img(src="https://get.wallhere.com/photo/sunset-sea-city-cityscape-bay-night-reflection-sunrise-evening-coast-horizon-dusk-dawn-165134.jpg")
