footer.footer
  .footer__container.container
    .footer__col.footer__col--left
      p.footer__text-main Экскурсии по крышам, <br> дворам и парадным
      a.logo(href="index.html")
        img(src="./assets/img/logo.png")


    .footer__col
      h4.footer__col-title Меню сайта
      nav.footer__nav
        ul.footer__nav-list

          li.footer__nav-item
            a.footer__nav-link(href="#excursions") Экскурсии
          li.footer__nav-item
            a.footer__nav-link(href="##") Фото
          li.footer__nav-item
            a.footer__nav-link(href="##") Отзывы
          li.footer__nav-item
            a.footer__nav-link(href="#faq") FAQ

    .footer__col
      h4.footer__col-title Контакты
      ul.footer__contact-list
        li.footer__contact-item
          a.footer__contact-link.button.button--coral(href="") 8 (925) 553-62-20

        li.footer__contact-item
          a.footer__contact-link.button.button--telegram(href="") Мы в Телеграмме

        li.footer__contact-item.footer__contact-item--whatsapp
          a.footer__contact-link.button.button--whatsapp(href="") Напишите нам в WhatsApp




