// Шаблон разметки
.accordion
  ul.accordion__list

    li.accordion__item
      p.accordion__title Официальное трудоустройство
        include ../../img/icons/accordionPlus.svg
      .accordion__content
        p Конкурентная белая зарплата согласно ТК РФ. Регулярные бонусы и премии

    li.accordion__item
      p.accordion__title Официальное трудоустройство
        include ../../img/icons/accordionPlus.svg
      .accordion__content
        p Конкурентная белая зарплата согласно ТК РФ. Регулярные бонусы и премии

    li.accordion__item
      p.accordion__title Официальное трудоустройство
        include ../../img/icons/accordionPlus.svg
      .accordion__content
        p Конкурентная белая зарплата согласно ТК РФ. Регулярные бонусы и премии

    li.accordion__item
      p.accordion__title Официальное трудоустройство
        include ../../img/icons/accordionPlus.svg
      .accordion__content
        p Конкурентная белая зарплата согласно ТК РФ. Регулярные бонусы и премии

